<div class="box sidebox about">
  <div class="sidebox-title">About NewsHUD</div>
  <div class="sidebox-content">
    <p>{{@blog.description}}</p>

    <!--Change this to your homepage-->
    

  </div>
</div>

<!--Change the links to your sites-->
<div class="sidebox box social clearfix">
  <ul>
    <a href="/rss" target="_blank" class="social-item rss"><li><i class="fa fa-rss"></i></li></a>
    
    <a href="http://twitter.com/news_hud" target="_blank" class="social-item tw"><li><i class="fa fa-twitter"></i></li></a>
    
    <a href="http://facebook.com/newshud" target="_blank" class="social-item facebook"><li><i class="fa fa-facebook"></i></li></a>
    
    <a href="https://www.linkedin.com/company/newshud/" target="_blank" class="social-item linkedin"><li><i class="fa fa-linkedin"></i></li></a>

  </ul>

</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content loading">
    <div class="loader">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Featured Series</div>
    <!--Links to Continuous Content Will Be Placed Here-->
    <ul>
      <li><a href="https://www.newshud.net/tag/elastic-stack/">Basics of the Elastic Stack</a></li>
    </ul>
  </div>
</div>
